@page
@model Webbsidan.Pages.IndexModel
@{
    ViewData["Title"] = "Startsida";
}
<!--Startsidan skapas med lite text och inkluderas i den fulla webbsidan-->

<h1>Startsida</h1>

<p>Välkommen till min webbsida! Denna sida är skapad som en lösning på moment 1 i kursen DT068G - Webbanvändbarhet </p>


