@page
@model Webbsidan.Pages.OmModel
@{
    ViewData["Title"] = "Om";
}
<!--Om-sidan skapas med lite text och hämtar strukturen samt titeln från layout -->

<h1>Om oss</h1>

<p>Skapad av Oliver Färnskog 2021 för moment 1 i kursen "ASP.net med C#"</p>

<h2>Kontakta mig gärna på följande sätt: </h2>

<p>Epost: olfa1902@student.miun.se</p>

<p>Telefonnummer: 073 456 789</p>
